body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

#score {
    margin-bottom: 20px;
}

.choices {
    display: flex;
    justify-content: center;
}

.choice {
    margin: 0 20px;
}

.choice-button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 10px;
}

